<div class="h-full bg-gradient-to-r from-indigo-50 to-indigo-100 overflow-y-auto px-6 py-8">
    <div class="max-w-md mx-auto overflow-hidden bg-white shadow-md rounded-xl md:max-w-2xl">
        <div class="flex">
            <div class="md:flex-shrink-0">
                <img src="images/mytrip.jpg" class="w-full h-48 object-cover md:w-48" alt="Man looking at item at a store">
            </div>
            <div class="p-8">
                <div class="text-indigo-500 text-sm font-semibold uppercase tracking-wide">Case study</div>
                <a href="#" class="block mt-1 text-lg font-medium text-black hover:underline leading-tight">Finding customers for your new business</a>
                <p class="mt-2 text-gray-500">Getting a new business off the ground is a lot of hard work. Here are five ideas you can use to find your first customers.</p>
            </div>
        </div>
    </div>
</div>